<!--header start-->
<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">
        <a class="logocenter" href="">
            <img src="{{ asset('/images/gcemalice_logo.png') }}" alt="">
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->

    {{ include('@Exploit/Default/blocinfo.html.twig') }}
</header>
<!--header end-->